#root {
	max-width: calc(
		var(--container-width) - var(--container-padding) * 2 - var(--panel-gap)
	);

	min-height: 100vh;
	padding: var(--container-padding);
	display: flex;
	column-gap: var(--panel-gap);

	& > div {
		display: flex;
		flex-direction: column;
		padding: var(--container-padding);
		border-radius: var(--border-radius);
		overflow: hidden;
	}
}

#root > :first-child {
	flex: 1 0 50%;
}

#root > :last-child {
	flex: 1 0 50%;
}
