#root {
	max-width: calc(
		var(--container-width) - var(--container-padding) * 2 - var(--panel-gap)
	);

	min-height: 100vh;
	padding: var(--container-padding);
	display: flex;
	column-gap: var(--panel-gap);

	& > div {
		display: flex;
		flex-direction: column;
		padding: var(--container-padding);
		border-radius: var(--border-radius);
		overflow: hidden;

		@include mobile-s {
			--container-padding: 8px;
		}
	}

	@include desktop {
		column-gap: 0;
		padding: 0;
		max-width: calc(100vw - var(--container-padding));
	}

	@include mobile {
		flex-direction: column;
		max-width: 100vw;
	}
}

#root > :first-child {
	flex: 1 0 50%;
}

#root > :last-child {
	flex: 1 0 50%;
}
