@media print {
	#root .editor {
		display: none;
	}
}

.editor {
	row-gap: var(--container-padding);

	& > div {
		background-color: var(--main-color);
		padding: var(--container-padding);
		border-radius: var(--border-radius);
	}
}

.button {
	border: 3px solid var(--main-bgrd-color);
	border-radius: var(--container-padding);
	padding: var(--button-padding) calc(var(--button-padding) * 2);
	background-color: transparent;
}
