.editor {
	row-gap: var(--container-padding);

	& > div {
		display: flex;
		background-color: var(--main-color);
		padding: var(--container-padding);
		border-radius: var(--border-radius);
	}

	& > div:not(.buttonPanel) {
		flex-direction: column;
	}

	& > div:not(.buttonPanel, .mainInformationPanel) {
		row-gap: var(--small-gap);
	}
}

.button {
	border: 3px solid var(--main-bgrd-color);
	border-radius: var(--container-padding);
	padding: var(--button-padding) calc(var(--button-padding) * 2);
	background-color: transparent;
}

.skillsPanel__input,
textarea,
input {
	background-color: var(--main-bgrd-color);
	border: none;
	border-radius: var(--border-radius-small);
	padding: var(--input-padding);
	outline: none;

	&:focus {
		box-shadow: var(--main-shadow);
	}
}

.checkbox {
	display: flex;
	align-items: center;
	column-gap: var(--small-gap);
	user-select: none;
}

.checkbox-control:not(:checked) + .checkbox-emulator::after {
	display: none;
}

.checkbox-emulator {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	width: 1em;
	height: 1em;
	border: 2px solid var(--main-bgrd-color);
	border-radius: 5px;
	background-color: var(--main-color);
}

.checkbox-emulator::after {
	content: '✔';
	color: var(--main-font-color);
}
