.mainInformationPanel {
	row-gap: calc(var(--main-gap) * 2);
}

.personalForm {
	display: flex;
	flex-direction: column;
	row-gap: var(--main-gap);

	& > div {
		display: flex;
		flex-direction: column;
	}
}

.mainInformationPanel__buttons {
	margin-bottom: var(--main-gap);
}
