.work-section,
.education-section {
	row-gap: var(--main-gap);
}

.preview__work-card,
.preview__education-card {
	display: grid;
	grid-template-columns: 20% 1fr;
	column-gap: var(--main-gap);

	& > div:first-child {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}

	& > div:last-child {
		display: flex;
		flex-direction: column;
		row-gap: var(--small-gap);

		p:first-child {
			font-weight: bold;
		}

		p:nth-child(2) {
			font-style: italic;
		}
	}
}

.review__work-card__right_responsibilities,
.extra-section-list {
	white-space: pre-wrap;
	text-align: justify;
}

.work-section,
.education-section {
	hr:not(:last-child) {
		width: 90%;
		border: 0;
		box-shadow: 0 0 5px 1px var(--main-font-color);
	}

	hr:last-child {
		display: none;
	}
}
