:root {
	--container-width: 100vw;
	--container-padding: 16px;
	--button-padding: 8px;
	--input-padding: 12px;
	--panel-gap: 2vw;
	--main-gap: 16px;
	--small-gap: calc(var(--main-gap) / 2);
	--border-radius-small: 10px;
	--border-radius: calc(var(--border-radius-small) * 2);

	--main-bgrd-color: #d6d6d6;
	--main-color: #ffffff;
	--main-font-color: #000000;
	--warning-color: #c80c0c;

	--main-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
