@import '_normalize';
@import '_globals';
@import '_utils';
@import '_varibles';

// Временно! - форма для редактирования
.editor {
	border: 3px solid blue;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.preview {
	border: 3px solid green;
}

.mainInformationPanel,
.workInformationPanel,
.educationInformationPanel,
.work,
.education {
	border: 3px solid black;
	min-height: 10vh;
	width: 90%;
	margin-inline: auto;

	h1 {
		text-align: center;
	}
}

.buttonPanel {
	border: 3px solid black;
	height: 5vh;
	width: 90%;
	margin-inline: auto;
}

.editor,
.preview {
	min-height: 95vh; // временно - потом размер будет ограничен контентом
	flex: 1 1 50%;
}

// стиль для раздела с добавлением карточек работы
.workInformationPanel,
.educationInformationPanel {
	display: flex;
	flex-direction: column;

	button:last-child {
		max-width: 30%;
		margin-inline: auto;
	}
}

#root {
	display: flex;
	max-width: 100vw;
	padding-inline: var(--container-padding);
	padding-top: var(--container-padding);
	column-gap: 5vw; // временно
}

// Временно! - форма для превью
.preview__main {
	border-bottom: 3px solid black;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

// форма для карточки работы

.work-section {
	border-bottom: 3px solid black;
	min-height: 10vh;
	width: 95%;
	margin-inline: auto;

	h1 {
		text-align: center;
	}

	.preview__work-card {
		border: 2px solid black;
		min-height: 10vh;
		display: grid;
		grid-template-columns: 30% 1fr;
		align-items: center;
	}
}

.education-section {
	border-bottom: 3px solid black;
	min-height: 10vh;
	width: 95%;
	margin-inline: auto;

	h1 {
		text-align: center;
	}

	.preview__education-card {
		border: 2px solid black;
		min-height: 10vh;
		display: grid;
		grid-template-columns: 30% 1fr;
		align-items: center;
	}
}
